
# Ignora dependências em qualquer subpasta
node_modules/

# Ignora builds e saídas
.next/
out/
dist/

# Ignora arquivos de ambiente
.env
.env*.local

# Ignora logs e arquivos de sistema
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem

