@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Impede a seleção de texto na página. */
  @apply select-none;
}

/* Animação de fade-in para a entrada de elementos. */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Classe para aplicar a animação fadeIn. */
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-out forwards;
  }